body {
    background: #ECEEF1;
    font-family: 'Nunito', sans-serif;
    color: rgba(0, 0, 0, 0.623);
}
/* Global styles */
.flex {
    display: flex;
}
.center {
    text-align: center;
}
.zero-mgn {
    margin: 0;
}

.nav {
    align-items: center;
    justify-content: flex-end;
    margin-right: 2rem;
    padding-top: .4rem;
}
.nav p {
    margin: 0;
    font-size: 12px;
}
.nav a {
    text-decoration: none;
}
.nav div {
    margin-right: 2rem;
}
.btn {
    font-size: 14px;
    padding: .6rem 1.4rem;
    background-color: #3877C5;
    color: #fff;
    border: 1px solid black;
    border-radius: 4px;
}
.btn span {
    padding: 0 .81rem;
}

/* header */
.header {
    flex-direction: column;
    align-items: center;
}
/* main  */
.form {
    
    width: 25%;
    background-color: #fff;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.274);
}
.intro{
    font-size: 12px;
}
.form h1 {
    font-size: 24px;
}
.form-padding {
    flex-direction: column;
    padding: 2.2rem;
}
.form input, 
.form label {
    padding: .5rem 0;
    border-radius: 4px;
}
.form input {
    border: 1px solid rgba(0, 0, 0, 0.507);
}
.form input:focus {
    outline: 2px solid rgba(13, 63, 80, 0.384);
    border-radius: 4px;
}
.small {
    font-size: 12px;
    margin: 0;
}
.pwd-key {
    position: relative;
    left: 92%;
    top: -30px;
    font-size: 1.5rem;
}
.consent {
    font-style: italic;
    font-size: 12px;
    padding: 2rem;
    line-height: 1.3rem;
}
.form-footer {
    background-color: #ECEEF1;
    font-size: 12px;
    padding: 1rem;
    margin: 0;
}

.footer {
    margin: auto;
    flex-direction: column;
    width: 60%;
}
.footer ul {
    list-style: none;
    margin: 1rem auto;
}
.footer li {
    padding: 0 1rem;
}
.footer a {
    text-decoration: none;
}
.footer p {
    margin: 0 0 3rem 0;
    text-align: center;
    font-size: 12px;
}